@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';


body {
    background: transparent;
    height: 100%;
}

html {
    height: 100%;
}

.flex-center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}